ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #555;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;

}
li a:hover{
    transform: translate(3px, -3px);
    color: pink;

}

.icon_image {
    object-fit: contain;
    height: 30px;
}

.container_home {
    background-color: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home_image {
    object-fit: contain;
    height: 300px;
}

.div_in_container {
    width: 100%;
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3);
    height: 300px;
}

.body_home {
    position: absolute;
    z-index: 2;
    color: white;
}

.footer_home {
    position: absolute;
    bottom: 0;
    background-color: pink;
    width: 100%;
}
.username{
    font-style: italic;

}