{% extends "header.html" %} {% load static %}
<link rel="stylesheet" href="{% static 'styles/style.css' %}" />

{%block title%}Singha's Gurukul | About{%endblock%}
{%block content%}
<div class="about__container">
  <div>{% include 'navbar.html' %}</div>


        <div class="about_text">

        <img src="{% static 'images/nic-logo.png' %}" class='home_logo' alt="image" style="float: right; margin-right: 10px;">
          <h1>Educational Kit<br> by Singha's Gurukul</h1> 
          <h3>Fail, fail & fail to master and unlock your true potential.</h3>
          <hr>
          <h2 style="padding-top: 20px;"><u>ABOUT</u></h2>
          <p>We provide and educational kit based on physics, biology, chemistry and
            astronomy to make teaching and learning even more convenient, engaging and
            fun. Instead of focusing on the lectures, our kit leverages digital technology to help
            the tutor identify, nurture, and inculcate individual skills by making the class more
            engaging. Enough with the non-imaginative old school way of learning, teaching
            and knowledge gap, and avoidance of technology. What if we could actually see,
            touch and play around the experiments, concepts and theories we mug up in a
            class room?
            Singha's Gurukul is a holistic institute that aims to dissolve the mediocrity in
            educational system and inspire enthusiasm in learning.</p>

            <h2><u>Vision</u></h2>
            <p>We created Singha’s Gurukul to show Science and Mathematics is easy & fascinating for
              everyone if you were to really understand it and can be used in every dimension of
              profession you chose later on.</p>

              <h2><u>Mission</u></h2>
              <p>Assist teachers in delivering the lectures by experimentally showing what the concepts
                they are teaching is about.
                Help students visually watch and learn the chapter wise devised educational tools
                to boost their imagination, mathematical understanding, real life usage all the while
                making it fun to learn. </p>

                <h2><u><a href="/partner_schools">Partner Schools</a></u></h2>

                <div class="partner_schools" style="display: flex; flex-direction: row;">

                  <a href="/partner_schools#suryodaya" class="school">
                    <img src="{% static 'images/education-icon.png' %}" alt="suryodaya">
                    <p>Suryodaya English School</p>
                  </a>

                  <a href="/partner_schools#siddartha" class="school">
                    <img src="{% static 'images/education-icon.png' %}" alt="siddhartha">
                    <p>Siddartha Higher Secondary School</p>
                  </a>

                  <a href="/partner_schools#damak" class="school">
                    <img src="{% static 'images/education-icon.png' %}" alt="damak">
                  <p>Damak Multiple Campus</p> 
                  </a>

                </div>


                <h2><u><a href="">Supporting Partners</a></u></h2>

                <div class="supporting_partners" style="display: flex; flex-direction: row; align-items: center;">

                  <a href="" class="school">
                    <img src="{% static 'images/nic-logo.png' %}" alt="nic">
                    <p>National Innovation Center</p>
                  </a>

                  <a href="" class="school">
                    <img src="{% static 'images/education-icon.png' %}" alt="idea">
                    <p>Idea Studio</p>
                  </a>

                </div>


            
                <h2><u>Founder</u></h2>
                <div class="founder" style="text-align:center;">
                  <img src="{% static 'images/education-icon.png' %}" width="300" height="300" alt="founder">
                  <h4>Saurav Singha Chaudhari</h4>
                  <p>Saurav is the founder & CEO of Singha's Gurukul with a vision to help students realize the
                    essence of education. </p>
                </div>

                <h2><u>Team</u></h2>

                <div class="team">

                <div class="member" style="text-align:center;">
                  <img src="{% static 'images/education-icon.png' %}" alt="prabin">
                  <h4>Prabin Bohara</h4>
                  <p>Role</p>
                </div>

                <div class="member" style="text-align:center;">
                  <img src="{% static 'images/education-icon.png' %}" alt="smrity">
                  <h4>Smrity Sherma Limbu</h4>
                  <p>Role</p>
                </div>

                <div class="member" style="text-align:center;">
                  <img src="{% static 'images/education-icon.png' %}" alt="rahul">
                  <h4>Rahul Jha</h4>
                  <p>Web Developer</p>
                </div>

                <div class="member" style="text-align:center;">
                  <img src="{% static 'images/education-icon.png' %}" alt="aayush">
                  <h4>Aayush Jha</h4>
                  <p>Role</p>
                </div>

                <div class="member" style="text-align:center;">
                  <img src="{% static 'images/education-icon.png' %}" alt="suban">
                  <h4>Suban Shrestha</h4>
                  <p>Role</p>
                </div>

                <div class="member" style="text-align:center;">
                  <img src="{% static 'images/education-icon.png' %}" alt="aditi">
                  <h4>Aditi ...</h4>
                  <p>Role</p>
                </div>

                <div class="member" style="text-align:center;">
                  <img src="{% static 'images/education-icon.png' %}" alt="rajesh">
                  <h4>Rajesh Neupane</h4>
                  <p>Role</p>
                </div>

                <div class="member" style="text-align:center;">
                  <img src="{% static 'images/education-icon.png' %}" alt="bishal">
                  <h4>Bishal ...</h4>
                  <p>Role</p>
                </div>

                <div class="member" style="text-align:center;">
                  <img src="{% static 'images/education-icon.png' %}" alt="mahima">
                  <h4>Mahima Dhakal</h4>
                  <p>Role</p>
                </div>

                <div class="member" style="text-align:center;">
                  <img src="{% static 'images/education-icon.png' %}" alt="aaditya">
                  <h4>Aaditya Jha</h4>
                  <p>Role</p>
                </div>

                <div class="member" style="text-align:center;">
                  <img src="{% static 'images/education-icon.png' %}" alt="rujal">
                  <h4>Rujal Aacharya</h4>
                  <p>Role</p>
                </div>




              </div>


          
              <h2><u>PROJECT DETAILS</u></h2>

              <ol>
                <div class="gravity" style="padding:20px;">
                <li>
                  <details>
                    <summary id="Gravity">Gravitational Force</summary>
                    <p>Sensor Data:</p>
                    <ol style="  list-style-type: lower-roman; margin-left: 20px;">
                      <li>mass</li>
                      <li>distance</li>
                    </ol>
                    <p>Things we'll represent in GUI:</p>
                    <ol style="  list-style-type: lower-roman; margin-left: 20px;">
                      <li>Earth, Mass (object of study), and Distance between them.</li>
                      <li>Pictorial representation of gravitational force between different mass at constant distance.</li>
                      <li>Plotting Force relation with changing Mass.</li>
                      <li>Pictorial representation of gravitational force with changing distance but constant mass.</li>
                    </ol>
        <img src="{% static 'images/projects/gravity.png' %}" class='home_logo' alt="gravity" style="float: right; margin-right: 10px;">
        <p>How the experiment will be performed:</p>
        <p> Experiment -1 (constant distance, relation of force with mass)</p>
        <ul style="    list-style-type: square; margin-left: 20px;">
          <li>
            Set the load platform at certain distance.
          </li>
          <li>
            Place .5Kg mass on the load platform, push the button and measure the gravitational force being acted on the mass.
          </li>
          <li>
            Plot F-M graph on the GUI.
          </li>
          <li>
            Repeat the process by replacing the masses with 1Kg, 1.5Kg, 2Kg and 2.5Kg respectively. At the same time plotting the resultant on GUI.
          </li>
          <li>
            Representing the F-M relation on GUI/Dashboard and measuring the slope to show F ∝ M relation.
          </li>
        </ul>
        <p>Experiment – 2 (constant mass, relation of force with distance)</p>
        <ul style="    list-style-type: square; margin-left: 20px;">
          <li>
            Place 2.5Kg mass on the load platform and measure the Force keeping the load platform 3cm to the Sun.
          </li>
          <li>
            Place the mass 8cm to the earth and measure the force.
          </li>
          <li>
            Place the mass at varied distance and measure the force, plot the result on GUI at the same time.
          </li>
          <li>
            Repeat the process placing the mass further apart from the Earth and take at least 6 readings and then plot the graph, and its slope.
          </li>
          <li>
            Show, F-R relation.
          </li>
        </ul>
                  </details>
                </li>
              </div>

              <div class="freefall" style="padding:20px;">
                <li>
                  <details>
                    <summary id="Free Fall">Free Fall</summary>
                    <p>Sensor Data:</p>
                    <ol style="  list-style-type: lower-roman; margin-left: 20px;">
                      <li>time</li>
                    </ol>
                    <p>Things we'll represent in GUI:</p>
                    <ol style="  list-style-type: lower-roman; margin-left: 20px;">
                      <li>Pictorial representation of the apparatus.</li>
                      <li>Showing result of the time taken by the object of study to reach the bottom of the apparatus.</li>
                    </ol>
        <img src="{% static 'images/projects/freefall.png' %}" class='home_logo' alt="freefall" style="float: right; margin-right: 10px;">
        <p>How the experiment will be performed:</p>
        <p>  Experiment -1 (Apparatus filled with air)</p>
        <ul style="list-style-type: square; margin-left: 20px;">
          <li>
            Press the button and the objects (one will be magnet and the other will be magnetic feather) will fall.</li>
          <li>
            Note the time taken by each object of study to reach the bottom.</li>
          <li>
            Represent the result on the GUI.</li>
        </ul>
        <p>Experiment – 2  (Vacuum apparatus)</p>
        <ul style="    list-style-type: square; margin-left: 20px;">
          <li>
            Press the button and the objects will fall again.
          </li>
          <li>
            Note the time taken by each object of study to reach the bottom.
          </li>
          <li>
            Represent the result on the GUI.
          </li>
        </ul>
                  </details>
                </li>
              </div>

              <div class="heat" style="padding:20px;">
                <li>
                  <details>
                    <summary id="Heat Equation">Heat Equation</summary>
                    <p>Sensor Data:</p>
                    <ol style="  list-style-type: lower-roman; margin-left: 20px;">
                      <li>mass</li>
                      <li>temperature</li>
                    </ol>
                    <p>Things we'll represent in GUI:</p>
                    <ol style="  list-style-type: lower-roman; margin-left: 20px;">
                      <li>
                        Pictorial representation of the apparatus with real life implication of the subject masses of study.
                      </li>
                      <li>
                        Relation of heat energy with mass and plotting their relation as the 
                        experiment proceeds.
                      </li>
                      <li>
                        Relation of heat energy with Specific heat capacity (placing different 
materials as a subject of study) and plotting the relation as their relation as 
the experiment proceeds.
                      </li>
                      <li>
                        Relation of heat energy with dt and plotting the relation as the experiment 
proceeds.
                      </li>
                      <li>
                        Derivation of Q = m*S*dt
                      </li>
                    </ol>

        <p>How the experiment will be performed:</p>
        <p>  Experiment -1  (Relation of Q with mass)</p>
        <ul style="list-style-type: square; margin-left: 20px;">
          <li>
            We’ll have 3 set of iron with different mass, viz .5Kg, 1Kg, and 1.5Kg.
          </li>
            <li>
              Place .5Kg mass on the platform, press the button and then follow the GUI i.e. enter 
              the value of specific heat capacity of the material then enter the value of dt.              
          </li>
          <li>
            The relay actuates and begins heating the subject mass till the set dt reaches, then 
            the power cuts off and Q is computed and displayed on the screen. While at the 
            same time plotting Q-m result on a graph.            
          </li>
          <li>
            Repeat the process with different set of masses and trace the plot.
          </li>
          <li>
            Draw a slope and show the proportionality relation between heat energy(Q) and 
mass.
          </li>
        </ul>
        <p>Experiment - 2 (Relation of Q with Specific heat capacity)</p>
        <ul style="    list-style-type: square; margin-left: 20px;">
          <li>
            Prep 3 set of study materials, viz iron, steel and copper of with same masses.
          </li>
          <li>
            Place the iron on the platform, and then follow the GUI as in experiment 1 i.e enter 
            the value of specific heat capacity of the material then enter the value of dt.            
          </li>
          <li>
            The relay actuates and begins heating the subject mass till the set dt reaches, then 
the power cuts off and Q is computed and displayed on the screen. While at the 
same time plotting Q-S result on a graph.
          </li>
          <li>
            Repeat the process with different materials, viz steel and copper.
          </li>
          <li>
            Draw a slope and show the proportionality relation between heat energy(Q) and 
Specific heat capacity.
          </li>
        </ul>
        <p>Experiment - 3 (Relation of Q with dt)</p>
        <ul style="    list-style-type: square; margin-left: 20px;">
          <li>
            This experiment is fairly simple.</li>
          <li>
            Place .5kg iron on the platform and press the button then follow the GUI as in 
experiment 1 i.e enter the value of specific heat capacity of the material then enter 
the value of dt.
          </li>
          <li>
            The relay actuates and begins heating the subject mass till the set dt reaches, then 
the power cuts off and Q is computed and displayed on the screen. While at the 
same time plotting Q-dt result on a graph.
          </li>
          <li>
            Repeat the process on experiment 3 but this time change the value of dt with 1 
            degree each time and plot the points on the graph. 
          </li>
          <li>
            Repeat the process on experiment 3 but this time change the value of dt with 1 
degree each time and plot the points on the graph. 
          </li>
          <li>
            Derive Q = m*S*dt at last. 
          </li>
        </ul>
                  </details>
                </li>
              </div>



                <li>
                  <details>
                    <summary id="section4">Section 4</summary>
                    <p>Content for section 4 goes here.</p>
                  </details>
                </li>
                <li>
                  <details>
                    <summary id="section5">Section 5</summary>
                    <p>Content for section 5 goes here.</p>
                  </details>
                </li>
                <li>
                  <details>
                    <summary id="section6">Section 6</summary>
                    <p>Content for section 6 goes here.</p>
                  </details>
                </li>
                <li>
                  <details>
                    <summary id="section7">Section 7</summary>
                    <p>Content for section 7 goes here.</p>
                  </details>
                </li>
                <li>
                  <details>
                    <summary id="section8">Section 8</summary>
                    <p>Content for section 8 goes here.</p>
                  </details>
                </li>
                <li>
                  <details>
                    <summary id="section9">Section 9</summary>
                    <p>Content for section 9 goes here.</p>
                  </details>
                </li>
                <li>
                  <details>
                    <summary id="section10">Section 10</summary>
                    <p>Content for section 10 goes here.</p>
                  </details>
                </li>
                <li>
                  <details>
                    <summary id="section11">Section 11</summary>
                    <p>Content for section 11 goes here.</p>
                  </details>
                </li>
                <li>
                  <details>
                    <summary id="section12">Section 12</summary>
                    <p>Content for section 12 goes here.</p>
                  </details>
                </li>
              </ol>
              





        </div>



  <div class="about_footer">
    {% include 'footer.html' %}
  </div>
</div>

{%endblock%}
