{% extends "header.html" %} {% load static %}
<link rel="stylesheet" href="{% static 'styles/style.css' %}" />

{%block title%}Singha's Gurukul | About{%endblock%}
{%block content%}
<div class="about__container">
  <div>{% include 'navbar.html' %}</div>


        <div class="about_text">

        <img src="{% static 'images/nic-logo.png' %}" class='home_logo' alt="image" style="float: right; margin-right: 10px;">
          <h1>Educational Kit<br> by Singha's Gurukul</h1> 
          <h3>Fail, fail & fail to master and unlock your true potential.</h3>
          <hr>
          <h2 style="padding-top: 20px;"><u>ABOUT</u></h2>
          <p>We provide and educational kit based on physics, biology, chemistry and
            astronomy to make teaching and learning even more convenient, engaging and
            fun. Instead of focusing on the lectures, our kit leverages digital technology to help
            the tutor identify, nurture, and inculcate individual skills by making the class more
            engaging. Enough with the non-imaginative old school way of learning, teaching
            and knowledge gap, and avoidance of technology. What if we could actually see,
            touch and play around the experiments, concepts and theories we mug up in a
            class room?
            Singha's Gurukul is a holistic institute that aims to dissolve the mediocrity in
            educational system and inspire enthusiasm in learning.</p>

            <h2 style="padding-top: 30px;"><u>Vision</u></h2>
            <p>We created Singha’s Gurukul to show Science and Mathematics is easy & fascinating for
              everyone if you were to really understand it and can be used in every dimension of
              profession you chose later on.</p>

              <h2 style="padding-top: 30px;"><u>Mission</u></h2>
              <p>Assist teachers in delivering the lectures by experimentally showing what the concepts
                they are teaching is about.
                Help students visually watch and learn the chapter wise devised educational tools
                to boost their imagination, mathematical understanding, real life usage all the while
                making it fun to learn. </p>



                <h2 style="padding-top: 30px;"><u>Founder</u></h2>
                <div class="founder" style="text-align:center;">
                  <img src="{% static 'images/education-icon.png' %}" width="300" height="300" alt="founder">
                  <h4>Saurav Singha Chaudhari</h4>
                  <p>Saurav is the founder & CEO of Singha's Gurukul with a vision to help students realize the
                    essence of education. </p>
                </div>

                <h2 style="padding-top: 30px;"><u>Team</u></h2>

                <div class="team">
                  <div class="members">

                <div class="member" style="text-align:center;">
                  <img src="{% static 'images/education-icon.png' %}" alt="prabin">
                  <h4>Prabin Bohara</h4>
                  <p>Role</p>
                </div>

                <div class="member" style="text-align:center;">
                  <img src="{% static 'images/education-icon.png' %}" alt="smrity">
                  <h4>Smrity Sherma Limbu</h4>
                  <p>Role</p>
                </div>

                <div class="member" style="text-align:center;">
                  <img src="{% static 'images/education-icon.png' %}" alt="rahul">
                  <h4>Rahul Jha</h4>
                  <p>Web Developer</p>
                </div>

                <div class="member" style="text-align:center;">
                  <img src="{% static 'images/education-icon.png' %}" alt="aayush">
                  <h4>Aayush Jha</h4>
                  <p>Role</p>
                </div>

                <div class="member" style="text-align:center;">
                  <img src="{% static 'images/education-icon.png' %}" alt="suban">
                  <h4>Suban Shrestha</h4>
                  <p>Role</p>
                </div>

                <div class="member" style="text-align:center;">
                  <img src="{% static 'images/education-icon.png' %}" alt="aditi">
                  <h4>Aditi ...</h4>
                  <p>Role</p>
                </div>

                <div class="member" style="text-align:center;">
                  <img src="{% static 'images/education-icon.png' %}" alt="rajesh">
                  <h4>Rajesh Neupane</h4>
                  <p>Role</p>
                </div>

                <div class="member" style="text-align:center;">
                  <img src="{% static 'images/education-icon.png' %}" alt="bishal">
                  <h4>Bishal ...</h4>
                  <p>Role</p>
                </div>

                <div class="member" style="text-align:center;">
                  <img src="{% static 'images/education-icon.png' %}" alt="mahima">
                  <h4>Mahima Dhakal</h4>
                  <p>Role</p>
                </div>

                <div class="member" style="text-align:center;">
                  <img src="{% static 'images/education-icon.png' %}" alt="aaditya">
                  <h4>Aaditya Jha</h4>
                  <p>Role</p>
                </div>

                <div class="member" style="text-align:center;">
                  <img src="{% static 'images/education-icon.png' %}" alt="rujal">
                  <h4>Rujal Aacharya</h4>
                  <p>Role</p>
                </div>

              </div>

              </div>





                <h2 style="padding-top: 30px;"><u><a href="/partner_schools">Partner Schools</a></u></h2>

                <div class="partner_schools" style="display: flex; flex-direction: row;">

                  <a href="/partner_schools#suryodaya" class="school">
                    <img src="{% static 'images/education-icon.png' %}" alt="suryodaya">
                    <p>Suryodaya English School</p>
                  </a>

                  <a href="/partner_schools#siddartha" class="school">
                    <img src="{% static 'images/education-icon.png' %}" alt="siddhartha">
                    <p>Siddartha Higher Secondary School</p>
                  </a>

                  <a href="/partner_schools#damak" class="school">
                    <img src="{% static 'images/education-icon.png' %}" alt="damak">
                  <p>Damak Multiple Campus</p> 
                  </a>

                </div>


                <h2 style="padding-top: 30px;"><u><a href="">Supporting Partners</a></u></h2>

                <div class="supporting_partners" style="display: flex; flex-direction: row; align-items: center;">

                  <a href="" class="school">
                    <img src="{% static 'images/nic-logo.png' %}" alt="nic">
                    <p>National Innovation Center</p>
                  </a>

                  <a href="" class="school">
                    <img src="{% static 'images/education-icon.png' %}" alt="idea">
                    <p>Idea Studio</p>
                  </a>

                </div>


            






        </div>



  <div class="about_footer">
    {% include 'footer.html' %}
  </div>
</div>

{%endblock%}
