{% extends "header.html" %} {% load static %}
<link rel="stylesheet" href="{% static 'styles/style.css' %}" />

{%block title%}Singha's Gurukul | About{%endblock%}
{%block content%}
<div class="about__container">
  <div>{% include 'navbar.html' %}</div>


        <div class="about_text">

        <img src="{% static 'images/nic-logo.png' %}" class='home_logo' alt="image" style="float: right; margin-right: 10px;">
          <h1>Educational Kit<br> by Singha's Gurukul</h1> 
          <h3>Fail, fail & fail to master and unlock your true potential.</h3>
          <hr>
          <h2 style="padding-top: 20px;"><u>ABOUT</u></h2>
          <p>We provide and educational kit based on physics, biology, chemistry and
            astronomy to make teaching and learning even more convenient, engaging and
            fun. Instead of focusing on the lectures, our kit leverages digital technology to help
            the tutor identify, nurture, and inculcate individual skills by making the class more
            engaging. Enough with the non-imaginative old school way of learning, teaching
            and knowledge gap, and avoidance of technology. What if we could actually see,
            touch and play around the experiments, concepts and theories we mug up in a
            class room?
            Singha's Gurukul is a holistic institute that aims to dissolve the mediocrity in
            educational system and inspire enthusiasm in learning.</p>

          <h2><u>SECOND PHASE PROJECT PLAN</u></h2>
          <p>The 1st phase of the project was successfully completed in which we worked on following
            projects:</p>
            <ol style="padding-left: 20px;">
                <li>Gravitational Force</li>
                <li>Pascal</li>
                <li>Hydraulic Press</li>
                <li>Heat Equation</li>
                <li>Nervous System</li>
                <li>DNA</li>
                <li>Orrery</li>
            </ol>

            <p>In the second phase of the project as instructed by Mahabir Pun, we are to proceed by perfecting
              the 1st phase prototypes and make it more robust and presentable. Along with furthering the
              remaining of the projects in the syllabus.
              The projects we intend to make in the second phase is given below:</p>
              <ol style="padding-left: 20px;">
                <li>Gravitational Force</li>
                <li>Free Fall</li>
                <li>Hydraulic press</li>
                <li>Pascal and Archimedes</li>
                <li>Heat Equation</li>
                <li>Convex lens Ray Diagram Tracing</li>
                <li>Nervous system</li>
                <li>Chromosome, Cell Division, DNA</li>
                <li>Sex Determination</li>
                <li>Heredity</li>
                <li>Heart</li>
                <li>Orrery</li>
                <li>Dynamo</li>
                <li>Electromagnetism illustrator</li>
              </ol>


              <h2><u>PROJECT DETAILS</u></h2>

              <ol>
                <li>
                  <details>
                    <summary id="section1">Section 1</summary>
                    <p>Content for section 1 goes here.</p>
                  </details>
                </li>
                <li>
                  <details>
                    <summary id="section2">Section 2</summary>
                    <p>Content for section 2 goes here.</p>
                  </details>
                </li>
                <li>
                  <details>
                    <summary id="section3">Section 3</summary>
                    <p>Content for section 3 goes here.</p>
                  </details>
                </li>
                <li>
                  <details>
                    <summary id="section4">Section 4</summary>
                    <p>Content for section 4 goes here.</p>
                  </details>
                </li>
                <li>
                  <details>
                    <summary id="section5">Section 5</summary>
                    <p>Content for section 5 goes here.</p>
                  </details>
                </li>
                <li>
                  <details>
                    <summary id="section6">Section 6</summary>
                    <p>Content for section 6 goes here.</p>
                  </details>
                </li>
                <li>
                  <details>
                    <summary id="section7">Section 7</summary>
                    <p>Content for section 7 goes here.</p>
                  </details>
                </li>
                <li>
                  <details>
                    <summary id="section8">Section 8</summary>
                    <p>Content for section 8 goes here.</p>
                  </details>
                </li>
                <li>
                  <details>
                    <summary id="section9">Section 9</summary>
                    <p>Content for section 9 goes here.</p>
                  </details>
                </li>
                <li>
                  <details>
                    <summary id="section10">Section 10</summary>
                    <p>Content for section 10 goes here.</p>
                  </details>
                </li>
                <li>
                  <details>
                    <summary id="section11">Section 11</summary>
                    <p>Content for section 11 goes here.</p>
                  </details>
                </li>
                <li>
                  <details>
                    <summary id="section12">Section 12</summary>
                    <p>Content for section 12 goes here.</p>
                  </details>
                </li>
              </ol>
              



        </div>



  <div class="about__footer">{% include 'footer.html' %}</div>
</div>

{%endblock%}
