
{% load static %}
<link rel="stylesheet" href="{% static 'styles/style.css' %}">


<!-- footer -->

<div class="footer">
    <div class="footer__container">
  
      <div class="row">
  
  
        <div class="footer-col-1-5">
          <a href='/'><img src="{%static 'images/icon.png'%}" alt=""></a>
  
        </div>
  
        <div class="footer-col-15">
          <h3>Useful Links</h3>
          <ul>
            <li><a href='/'>Home</a></li>
            <li><a href='/projects'>Projects</a></li>
            <li><a href='/contact'>Contact</a></li>
    
          </ul>
        </div>
  
      <div class="footer-col-2">
        <h3>Follow Us</h3>
        <ul>
          <li><a href='/'>Facebook</a></li>
          <li><a href='/'>Twitter</a></li>
          <li><a href='/'>Instagram</a></li>
  
        </ul>
      </div>
      </div>
      <hr>
      <p class="copyright">Copyright 2023 - Singha's Gurukul</p>
  
    </div>
  </div>