{% extends "header.html" %} 



{% load static %}
<link rel="stylesheet" href="{% static 'styles/style.css' %}">

{%block title%}Singha's Gurukul | Home{%endblock%}

{%block content%}

{% include 'navbar.html' %}




<div class='container_home'>
  <img class='home_image' src="{% static 'images/nic.jpg'%}"  >
  <div class='div_in_container'></div>
  <div class='body_home'>
  <h1>Welcome to My Website</h1>
  <p>This is the homepage of my website.</p>
  </div>
</div>



<div class='footer_home'>
  <p>Copyright © 2023 My Website</p>
</div>





{%endblock%}