{% extends "header.html" %}



{% load static %}
<link rel="stylesheet" href="{% static 'styles/style.css' %}">

{%block title%}Singha's Gurukul | Home{%endblock%}

{%block content%}

<div class="header">

  <div class="container">

    {% include 'navbar.html' %}


    <div class="row">

      <div class="col-2">
        <h1>Welcome to <br> Innovation hub</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex molestias totam illum sit cum voluptate in a modi
          maxime voluptates, ducimus fuga quibusdam molestiae vero animi consequatur voluptas maiores eveniet?</p>
        <a href="" class="btn">Explore now &#8594;</a>

      </div>
      <div class="col-2">
        <img src="{% static 'images/icon.png' %}" alt="image">
      </div>

    </div>


  </div>


</div>



<!-- featured products -->

<div class="projects_container">

  <h2 class="title"><a href='/projects'>Featured Products</a></h2>
  <div class="home__item">

    {%for item in projects|slice:":3"%}
    <div class="col-3">
      <h2>{{ item.name }}</h2>
      <p>Rs. {{ item.price }}</p>
      <p>{{ item.description }}</p>
      <img src="{{ item.image.url }}" width="300" height="300" alt="{{item.name}}">
      <div class="buy_options">
        
      <a class="buy_btn">Buy this &#8594;</a>
      <a class="add_to_cart"><img src="{%static 'images/add-to-cart.png'%}" alt="add-to-cart"></a>
    
    </div>
    </div>
    {% endfor %}
</div>
</div>
<div class="small-container">


  <h2 class="title">Ongoing Projects</h2>

  <div class="row">
    {%for item in ongoing|slice:":4"%}
    <div class="col-4">
      <h4>{{ item.name }}</h4>
      <p>{{ item.description }}</p>
      <img src="{{ item.image.url }}" alt="{{item.name}}">
    </div>
    {% endfor %}
    </div>
</div>



{% include 'footer.html' %}

{%endblock%}