{% extends "header.html" %} 



{% load static %}
<link rel="stylesheet" href="{% static 'styles/style.css' %}">

{%block title%}Singha's Gurukul | Home{%endblock%}

{%block content%}

{% include 'navbar.html' %}




<div style='background-color:red; display:flex;flex-direction:column; align-items:center; justify-content:center'>
  <img src="{% static 'images/icon.png'%}" style="object-fit: contain; height: 300px;" >
  <div style="width: 100%; position: absolute; z-index:1; background-color: rgba(0,0,0,0.3); height: 300px;"></div>
  <div style="position: absolute; z-index: 2; color: white;">
  <h1>Welcome to My Website</h1>
  <p>This is the homepage of my website.</p>
</div>
</div>



<div style="position:absolute; bottom:0; background-color: red; width: 100%;">
  <p>Copyright © 2023 My Website</p>
</div>





{%endblock%}