{% load static %}
<link rel="stylesheet" href="{% static 'styles/style.css' %}">

<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/purchase">Purchase</a></li>
    <li><a href="/tutorial">Tutorial</a></li>
    <li><a href="/discussion">Discussion</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/about">About</a></li>

    {% if user.is_authenticated %}
    <li style="float:right"><a class="active" href="/logout">Logout</a></li>
    <li class='user-related' style='float:right'><a href="/user">{{user.username}}</a></li>
    {%else%}
    <li style="float:right"><a class="active" href="/login">Login</a></li>
    {%endif%}
  </ul>